<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>단어장 생성하기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/67f60ca045.js" crossorigin="anonymous"></script>    <style>
        .table td, .table th {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1>단어장 생성하기</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/wordbook/list">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wordbook/create">새로운 단어장 만들기<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="wordbook-creation-form sticky-top">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="새로운 단어장">
                    <label for="description">설명</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="단어장 설명">
                </div>
                <button id="add-wordbook" type="submit" class="btn btn-primary">단어장 작성완료</button>
            </div>
            <div class="qa-creation-form mt-3">
                <div class="form-group">
                    <label for="new-question">문제</label>
                    <input type="text" class="form-control" id="new-question" placeholder="question">
                    <label for="new-answer">정답</label>
                    <textarea class="form-control" id="new-answer" placeholder="answer"></textarea>
                </div>
                <button id="add-qa" type="submit" class="btn btn-primary">문제/정답 추가하기</button>
            </div>
            <table class="table mt-3">
                <thead>
                    <tr class="bg-primary text-light">
<!--                        <th>번호</th>-->
                        <th>주제</th>
                        <th>정답</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="qa-list">
                    <tr id="qa-template" class="d-none">
    <!--                    <td>0</td>-->
                        <td class="qa-question" style="white-space:pre">Question</td>
                        <td class="qa-answer" style="white-space:pre">Answer</td>
                        <td style="float: right">
                            <button type="button" class="update-qa btn btn-success" ><i class="fas fa-edit"></i></button>
                            <button type="button" class="delete-qa btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (message) {
        $("#add-wordbook").on('click', function (e) {
            let form = new FormData()
            form.append("name", $("#name").val())
            form.append("description", $("#description").val())
            var counter = 0
            $.each($(".qa"), function (index, qa) {
                form.append("qaList[" + index + "].question", $(qa).find(".qa-question").text())
                form.append("qaList[" + index + "].answer", $(qa).find(".qa-answer").text())
                counter += 1
            })

            {
                name: ~,
                description : "!",
                qaList[0].question = ~!@

            }
            if (counter < 1){
                alert("1개 이상의 문제 or 단어를 추가해야 합니다")
                return
            }
            axios.post('/wordbook/create', form)
                .then(function (res) {
                    window.location = "/wordbook/list"
                })
                .catch(function (err) {
                    alert('서버오류', err)
                });
        })

        $("#add-qa").on('click', function (e) {
            let qa = $("#qa-template")
                .clone()
                .removeAttr("id", "qa-template")
                .removeClass("d-none")
                .addClass("qa")
                .appendTo("#qa-list")
            // qa.find(".qa-no").text($(".qa").length)
            qa.find(".qa-question").text($("#new-question").val())
            qa.find(".qa-answer").text($("#new-answer").val())
            $("#new-question").val('').focus()
            $("#new-answer").val('')
        })
    })
    
    $(document.body).on("click",".update-qa", function(){
        var row = $(this).parents(".qa")
        $("#new-question").val($(row).find(".qa-question").text()).focus()
        $("#new-answer").val($(row).find(".qa-answer").text())
        row.remove()
    })
    
    $(document.body).on("click",".delete-qa", function(){
        var row = $(this).parents(".qa")
        row.remove()
    })
</script>
</body>
</html>