<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wordbook List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <h1>wordbook list</h1>
        <div class="col-8">
            <div class="list-group" th:each="book, i: ${wordbooks}">
                <a href="/wordbook/create" th:if="${i.index == 0}" class="list-group-item">
                    <h5>생성하기</h5>
                </a>
                <a th:href="@{/wordbook/{id} (id=${book.getId()})}" class="list-group-item">
                    <h5 th:if="${book.getName()}" th:text="${book.getName()}"></h5>
                    <h5 th:if="! ${book.getName()}">제목없음</h5>
                </a>
                <script>
                    var value =  [[${book}]]
                </script>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        var value = [[${wordbooks}]]
        // console.log(value)
    })
</script>
</html>