<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>단어장 생성하기</title>
    <th:block th:replace="fragments/common-import :: common-import"></th:block>
    <link rel="stylesheet" href="/css/middle-aligned-table.css">
    <!--    <style>-->
    <!--        .table td, .table th {-->
    <!--            vertical-align: middle;-->
    <!--        }-->
    <!--    </style>-->
    <script>
        // 초기화 시 등록
        $(document).ready(function (message) {
            const {URLs, NewWordbook, getAccount} = wordbookService
            const account = getAccount()
            $('#wordbook-list-link').href = URLs.wordbookList()
            $('#new-wordbook-link').href = URLs.newWordbook()

            // 새로운 워드북 저장
            $("#save_wordbook").on('click', function (e) {
                const newWordbook = new NewWordbook()
                newWordbook.setAccount(account)
                newWordbook.setName($("#name").val())
                newWordbook.setDescription($("#description").val())

                $.each($(".qa"), function (index, qa) {
                    const question = $(qa).find(".qa-question").text()
                    const answer = $(qa).find(".qa-answer").text()
                    newWordbook.addQA(question, answer)
                })

                console.log(newWordbook)
                try {
                    newWordbook.saveToServer()
                    newWordbook.onLoad(()=>{
                        location.href = URLs.wordbookList()
                    })
                    newWordbook.onLoadFailed(()=>{
                        alert('로그인 후 가능한 기능입니다')
                        location.href = URLs.loginAccount()
                    })
                } catch (e) {
                    alert(e)
                }
            })

            // 질문 추가
            $("#add-qa").on('click', function (e) {
                const $newQuestion = $("#new-question")
                const $newAnswer = $("#new-answer")
                let qa = $("#qa-item-template")
                    .clone()
                    .removeAttr("id", "qa-item-template")
                    .removeClass("d-none")
                    .addClass("qa")
                    .appendTo("#qa-items")
                // qa.find(".qa-no").text($(".qa").length)
                qa.find(".qa-question").text($newQuestion.val())
                qa.find(".qa-answer").text($newAnswer.val())
                $newQuestion.val('').focus()
                $newAnswer.val('')
            })
        })

        // 질문 수정
        $(document.body).on("click", ".update-qa", function () {
            var row = $(this).parents(".qa")
            $("#new-question").val($(row).find(".qa-question").text()).focus()
            $("#new-answer").val($(row).find(".qa-answer").text())
            row.remove()
        })

        // 질문 삭제
        $(document.body).on("click", ".delete-qa", function () {
            var row = $(this).parents(".qa")
            row.remove()
        })
    </script>
</head>
<body>
<div class="container">
    <!--    네베게이션-->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="wordbook-creation-form sticky-top">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="새로운 단어장">
                    <label for="description">설명</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="단어장 설명">
                </div>
                <button id="save_wordbook" type="submit" class="btn btn-primary">단어장 작성완료</button>
            </div>
            <div class="qa-creation-form mt-3">
                <div class="form-group">
                    <label for="new-question">문제</label>
                    <input type="text" class="form-control" id="new-question" placeholder="question">
                    <label for="new-answer">정답</label>
                    <textarea class="form-control" id="new-answer" placeholder="answer"></textarea>
                </div>
                <button id="add-qa" type="submit" class="btn btn-primary">문제/정답 추가하기</button>
            </div>
            <table class="table mt-3">
                <thead>
                <tr class="bg-primary text-light">
                    <!--                        <th>번호</th>-->
                    <th>주제</th>
                    <th>정답</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="qa-items">
                <tr id="qa-item-template" class="d-none">
                    <!--                    <td>0</td>-->
                    <td class="qa-question" style="white-space:pre">Question</td>
                    <td class="qa-answer" style="white-space:pre">Answer</td>
                    <td style="float: right">
                        <button type="button" class="update-qa btn btn-success"><i class="fas fa-edit"></i></button>
                        <button type="button" class="delete-qa btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>